@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #3F51B5,
  $secondary: #FFC107,
  $surface: #1D1D1D,
  $background: #121212,
  $error: color-palette.$red-700
);

@use '@material/typography/mixins' as typography;

html,
body {
  background-color: #000;
  color: theme.$on-surface;
  @include typography.typography('body1');
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

h1 {
  @include typography.typography('headline1');
  margin: 0;
}

h2 {
  @include typography.typography('headline2');
  margin: 0;
}

h3 {
  @include typography.typography('headline3');
  margin: 0;
}

h4 {
  @include typography.typography('headline4');
  margin: 0;
}

h5 {
  @include typography.typography('headline5');
  margin: 0;
}

h6 {
  @include typography.typography('headline6');
  margin: 0;
}

code,
pre {
  font-family: 'Roboto Mono', monospace;
}